body {
    max-width: 900px;
    font-family:'Lato';
}

nav {
    position: fixed;
    width:100%;
    top: 0;
    left:0;
    background: black;
    font-size:20px;
    color:white;
    text-align:center;
    padding:10px;
}

content {
    position:fixed;
    width: 100%;
    text-align: center;
    top:50%;
    font-size: 30px;
    text-transform: uppercase;

}

footer {
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    background: black;
    font-size:20px;
    color:white;
    text-align:center;
    padding:10px;